.card1 {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
  transition-duration: 0.3s ease;
}

.card1:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  cursor: zoom-in;
}

.card1-image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.underline-turquesa {
  width: 70px;
  height: 3px;
  background-color: var(--turquesaOscuro);
}
