* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
:root {
  --turquesaOscuro: #00b4d8;
  --turquesaClaro: #4cc9f0;
  --morado: #8338ec;
  --lavanda: #d1c4e9;
  --negro: #212121;
  --gris: #757575;
  --blanco: #fff;
  --oro: #ffbe0b;
  --naranja: #fb5607;
  --rosa: #ff006e;
  --verde: rgb(18, 220, 18);
  --moradoOscuro: #1e1132;
}
.moradoOscuro {
  color: var(--moradoOscuro);
}
.blanco {
  color: var(--blanco) !important;
}
.naranja {
  color: var(--naranja) !important;
}
.morado {
  color: var(--morado) !important;
}
.verde {
  color: var(--verde) !important;
}
.oro {
  color: var(--oro) !important;
}
.rosa {
  color: var(--rosa) !important;
}
.turquesaOscuro {
  color: var(--turquesaOscuro) !important;
}
.turquesaClaro {
  color: var(--turquesaClaro) !important;
}
.lavanda {
  color: var(--lavanda) !important;
}
.sans {
  font-family: sans-serif;
}

/* Img de fondo section 1 */
.img-background {
  background-image: url("./assets/img/section1perro.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
/* estilos pagina acerca de */
.img-background2 {
  background-image: url("./assets/img/section1perro.jpg");
  background-position-y: 14%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40dvh;
  display: flex;
  flex-direction: column;
}
.bg-breadcrumb {
  background-color: rgba(222, 222, 222, 0.767);
  padding: 5px 10px;
  color: #ecececcf;
  border-radius: 20px;
  color: var(--negro);
}
.bg {
  background-color: #170831;
}
.bg-contain-ring {
  height: 100%;
  width: 100%;
}
.border-lateral {
  border-right: 1px solid #49188d;
}
.centrado-sm {
  text-align: start;
}
.title {
  font-size: 5rem;
  font-weight: 900;
}
.ls-lg {
  letter-spacing: 6px;
  font-weight: 600 !important;
  font-style: italic;
}
.bg-transparent {
  filter: contrast(0%);
}

/* Estilos de botones */

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 16px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  border: 2px solid var(--turquesaClaro);
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  text-decoration: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 15px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;

  background-color: var(--turquesaOscuro);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
  scale: 3;
}

.button:hover {
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
  color: white;
}

.button:active {
  scale: 1;
}
.centro-lg {
  text-align: end !important;
}

/* Estilos del background del section 3 */

.container2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;
  animation: move 1.5s linear infinite;
}

/* Estilos del formulario de contacto rapido */

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.fst-italic {
  font-size: 11px;
  letter-spacing: 1px;
  color: rgb(234, 75, 75) !important;
  max-width: 350px;
  line-height: 1.6;
  word-wrap: break-word;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 25px;
  color: grey;
  font-size: 0.8rem;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.input01 {
  width: 100%;
  field-sizing: content;
  min-height: 70px;
  max-height: 140px;
  text-wrap: balance;
  scroll-snap-type: x mandatory;
  resize: none;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid var(--lavanda);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.fancy {
  border: 2px solid rgba(0, 0, 0, 0.463);
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #579a74de;
  transform: translateX(30%);
  font-weight: 700;
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: white;
  background: var(--rosa);
}

.fancy:hover::before {
  width: 1.5rem;
  background: white;
}

.fancy:hover .text {
  color: rgb(255, 255, 255);
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* Estilos pagina de contacto */

/* Media queries */

@media (max-width: 576px) {
  .title {
    font-size: 2.3rem;
  }
  .centro-lg {
    text-align: center !important;
  }
  .sm-none {
    display: none;
  }
  .img-background2 {
    background-image: url("./assets/img/section1perro.jpg");
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
  }
}

@media (max-width: 768px) {
  .centro-lg {
    text-align: center !important;
  }
  .centrado-sm {
    text-align: center;
  }
}

@media (max-width: 991.5px) {
  .border-lateral {
    border-right: none;
  }
}

/* Animaciones */

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
