
@font-face {
  font-family: "Lot";
  src: url("./assets/fonts/Lot.woff2") format("woff2"),
    url("./assets/fonts/Lot.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --turquesaOscuro: #00b4d8;
  --turquesaClaro: #4cc9f0;
  --morado: #8338ec;
  --lavanda: #d1c4e9;
  --negro: #212121;
  --gris: #c2c2c2;
  --blanco: #fff;
  --oro: #ffbe0b;
  --naranja: #fb5607;
  --rosa: #ff006e;
  --verde: rgb(18, 220, 18);
  --moradoOscuro: #1e1132;
}

.moradoOscuro {
  color: var(--moradoOscuro);
}
.gris {
  color: var(--gris);
}
.blanco {
  color: var(--blanco) !important;
}
.sombra {
  filter: drop-shadow(0 0 0.75rem rgb(81, 62, 66));
}
.naranja {
  color: var(--naranja) !important;
}
.morado {
  color: var(--morado) !important;
}
.verde {
  color: var(--verde) !important;
}
.oro {
  color: var(--oro) !important;
}
.rosa {
  color: var(--rosa) !important;
}
.turquesaOscuro {
  color: var(--turquesaOscuro) !important;
}
.turquesaClaro {
  color: var(--turquesaClaro) !important;
}
.lavanda {
  color: var(--lavanda) !important;
}
.monospace {
  font-family: "monospace", sans-serif;
}
.lot {
  font-family: "Lot";
}
/* Img de fondo section 1 */
.img-background {
  background-image: url("./assets/img/bannerFondoGrande.webp");
  background-position: center 65%;
  filter: brightness(90%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.sm-none {
  padding-top: 20px;
}
/* estilos pagina acerca de */
.img-background2 {
  background-image: url("./assets/img/bannerFondoGrande.webp");
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 40dvh;
  display: flex;
  flex-direction: column;
}
.bg-breadcrumb {
  background-color: rgba(222, 222, 222, 0.767);
  padding: 5px 10px;
  color: #ecececcf;
  border-radius: 20px;
  color: var(--negro);
}
.bg {
  background-color: #170831;
}
.bg-contain-ring {
  height: 100%;
  width: 100%;
}
.border-lateral {
  border-right: 1px solid #49188d;
}
.centrado-sm {
  text-align: start;
}
.title {
  font-size: 5rem;
  font-weight: 900;
}
.ls-lg {
  letter-spacing: 6px !important;
  font-weight: 600 !important;
  font-style: italic !important;
}

/* Estilos de botones */
.custom-btn {
  max-width: 100%;
  height: 43px;
  color: #fff;
  border-radius: 20px;
  padding: 10px 25px;
  font-weight: 500;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  text-decoration: none;
}
.btn-15 {
  background-color: var(--morado);
  border: none;
  z-index: 1;
}
.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--turquesaOscuro);
  border-radius: 18px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-15:hover {
  color: #fff;
}
.btn-15:hover:after {
  right: 0;
  width: 100%;
}
.btn-15:active {
  top: 2px;
}
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

.centro-lg {
  text-align: end !important;
}

/* Estilos del background del section 3 */
.container2 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
  );
  background-size: 40px 40px;
  background-position: 0;
  animation: move 1.5s linear infinite;
}

.arrow-precios {
  position: absolute;
  top: 12%;
  transform: rotate(17deg);
}
/* Estilos del formulario de contacto rapido */
.arrow-absolute {
  position: absolute;
  top: -5%;
  right: 50%;
  transform: rotate(15deg);
}
.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.fst-italic {
  font-size: 11px;
  letter-spacing: 1px;
  color: rgb(234, 75, 75) !important;
  max-width: 350px;
  line-height: 1.6;
  word-wrap: break-word;
}
.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.form label {
  position: relative;
}
.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 25px;
  color: grey;
  font-size: 0.8rem;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}
.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}
.input01 {
  width: 100%;
  field-sizing: content;
  min-height: 70px;
  max-height: 140px;
  text-wrap: balance;
  scroll-snap-type: x mandatory;
  resize: none;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid var(--lavanda);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}
.fancy {
  border: 2px solid rgba(0, 0, 0, 0.463);
  border-radius: 0px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  background-color: #e1e1e1;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}
.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}
.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #579a74de;
  font-weight: 700;
}
.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
.fancy:hover {
  color: white;
  background: var(--rosa);
}
.fancy:hover::before {
  width: 1.5rem;
  background: white;
}
.fancy:hover .text {
  color: rgb(255, 255, 255);
  padding-left: 1.5em;
}
.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}
.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
/* Estilos pagina de contacto */
.pd-sm {
  font-size: 1.5rem;
}
/* Estilos pagina error404 */
.error_altura {
  height: 100vh !important;
}
.error_logo {
  width: 100px;
  height: 100px;
}

.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
}

.error_code {
  width: 100%;
  margin: 0 auto;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.error_code p {
  font-size: 6rem;
}

.error_code p:first-of-type {
  animation: fall 1.8s forwards, bounce 1.2s 1.8s forwards;
  box-shadow: 0 0 15px #00f8ff, 0 0 30px #00ffcc;
  background: linear-gradient(135deg, #00ffcc, #00f8ff);
  transform: rotateZ(-20deg);
}

.error_code p:last-of-type {
  animation: fall 1.8s forwards, bounce 1.2s 1.8s forwards;
  box-shadow: 0 0 15px #00f8ff, 0 0 30px #00ffcc;
  background: linear-gradient(135deg, #00ffcc, #00f8ff);
  transform: rotateZ(8deg);
}

.error_code p:nth-of-type(2) {
  color: var(--moradoOscuro);
  animation: bounce 0.4s 1.8s linear forwards;
  opacity: 0;
}

.error_title {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0 3%;
  text-align: center;
}

.error_description {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  padding: 0 10%;
  color: var(--color1);
}

.action {
  font: inherit;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--color2);
  color: var(--color1);
}

.action:hover {
  opacity: 0.8;
}

.error_logo {
  width: 100px;
  height: 100px;
}
.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 10px;
}

.error_code {
  width: 100%;
  margin: 0 auto;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.error_code p {
  font-size: 6rem;
}

.error_code p:first-of-type {
  animation: fall 1.8s forwards, bounce 1.2s 1.8s forwards;
  box-shadow: 0 0 15px #00f8ff, 0 0 20px #00ffcc;
  border-radius: 30%;
  padding: 5px 8px;
  margin: 0px 10px;
  background: linear-gradient(135deg, #00ffcc, #00f8ff);
  transform: rotateZ(-20deg);
}

.error_code p:last-of-type {
  animation: fall 1.8s forwards, bounce 1.2s 1.8s forwards;
  box-shadow: 0 0 15px #00f8ff, 0 0 20px #00ffcc;
  border-radius: 30%;
  padding: 5px 8px;
  margin: 0px 10px;
  background: linear-gradient(135deg, #00ffcc, #00f8ff);
  transform: rotateZ(8deg);
}

.error_code p:nth-of-type(2) {
  color: var(--blanco);
  animation: bounce 0.4s 1.8s linear forwards;
  opacity: 1;
}

.error_title {
  font-size: 1.7rem;
  font-weight: 700;
  padding: 0 3%;
  text-align: center;
}

.error_description {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6;
  padding: 0 10%;
  color: var(--blanco);
}

.action {
  font: inherit;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #00ffcc;
  color: var(--negro);
}

.action:hover {
  opacity: 0.8;
}
.bg-precios {
  max-height: 40%;
  width: 100%;
}
.img-prices {
  max-width: 300px;
  max-height: 400px;
}
/* Media queries */

@media (max-width: 600px) {
  #restart-button {
    left: auto;
    right: 10px;
    transform: none;
  }
  .error_logo {
    width: 70px;
    height: 70px;
  }
  .img-background {
    background-image: url("./assets/img/bannerFondoPeq.webp");
    max-width: 600px;
    height: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.3rem;
  }
  .img-background2 {
    background-image: url("./assets/img/bannerFondoPeq.webp");
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
  }
  .centro-lg {
    text-align: center !important;
  }
  .centrado-sm {
    text-align: center;
  }
  .pd-sm {
    padding-top: 15px;
    font-size: 1.4rem;
  }
  .sm-none {
    display: none;
  }
}
@media (max-width: 800px) {
  #logo-wrapper {
    transform: scale(0.7);
  }
}
@media (max-width: 991.5px) {
  .border-lateral {
    border-right: none;
  }
  .container2 {
    height: 80%;
  }
  .arrow-absolute {
    display: none;
  }
  .destacada {
    transform: scale(1) !important;
  }
}

/* Animaciones */
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* animacion error 404 */

@keyframes fall {
  0% {
    transform: translateY(-150vh) scale(0.8);
    opacity: 0;
    filter: blur(8px);
  }
  50% {
    opacity: 1;
    filter: blur(2px);
    transform: translateY(50vh) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0) scale(1);
    filter: drop-shadow(0 0 10px #00f8ff);
  }
  20% {
    transform: translateY(-70px) scale(1.1);
    filter: drop-shadow(0 0 20px #00ffcc);
  }
  40% {
    transform: translateY(0) scale(1);
    filter: drop-shadow(0 0 5px #00f8ff);
  }
  60% {
    transform: translateY(-40px) scale(1.05);
    filter: drop-shadow(0 0 15px #ff00ff);
  }
  80% {
    transform: translateY(0);
    filter: drop-shadow(0 0 8px #00f8ff);
  }
  90% {
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    transform: translateY(0) scale(1) rotateZ(360deg);
    filter: drop-shadow(0 0 10px #00ffcc);
  }
}

/* Estilos de página precios */
.card-hover {
  transition-duration: 0.3s;
}
.card-hover:hover {
  cursor: pointer;
  filter: drop-shadow(4px 10px 18px #000000);
}
.pack_card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid rgb(99 102 241);
  padding: 1.5rem 1rem 1rem 1rem;
  margin-top: 1rem;
  background-color: #fff;
  max-width: 300px;
  height: 540px;
}

.pack_name {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(31 41 55);
}

.description {
  margin: 0 auto 2rem auto;
  text-align: center;
  color: rgb(107 114 128);
}

.lists > :not([hidden]) ~ :not([hidden]) {
  margin-top: 0.5rem;
}

.list {
  display: flex;
  gap: 0.5rem;
}

.list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  color: rgb(99 102 241);
}

.list span {
  color: rgb(75 85 99);
}

.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.devise {
  align-self: flex-start;
  color: var(--negro);
  padding: 10px 0px;
  font-size: 1.4rem;
}

.price {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  padding: 10px 0px;
  display: block;
  color: rgb(31 41 55);
}

.date {
  color: rgb(107 114 128);
}

.btn33 {
  display: block;
  border-radius: 0.5rem;
  background-color: var(--rosa);
  padding: 0.75rem 2rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  outline: none;
  opacity: 0.9;
  transition-duration: 0.3s;
}

.btn33:hover {
  background-color: var(--rosa);
  opacity: 1.1;
}

.text-rotate {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
  position: relative;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-block;
}

.text-rotate-space {
  white-space: pre;
}
